In [ ]:
#spark Session
from pyspark .sql import SparkSession
spark=(SparkSession .builder.appName("joins and Data Partitions").getOrCreate())

In [ ]:
emp_df=spark.read.csv("/content/employees.csv",header=True,inferSchema=True)

In [ ]:
emp_df.show()

+-----------+--------+--------------------+-----------------+
|Employee ID|Store ID|                Name|         Position|
+-----------+--------+--------------------+-----------------+
|          1|       1|     Stephen Johnson|    Store Manager|
|          2|       1|       Rebecca Myers|Assistant Manager|
|          3|       1|  Katherine Buchanan|          Cashier|
|          4|       1|       Jessica Hicks|      Stock Clerk|
|          5|       1|          Ryan Gross|  Sales Associate|
|          6|       1|     Jeffery Carlson|  Sales Associate|
|          7|       1|      Melissa Wilson|  Sales Associate|
|          8|       1|        Edward Hicks|  Sales Associate|
|          9|       1|        Shari Jordan|  Sales Associate|
|         10|       1|Mrs. Melissa Cald...|  Sales Associate|
|         11|       1|       Regina Nelson|  Sales Associate|
|         12|       1|        Kevin Dawson|  Sales Associate|
|         13|       1|       Nicole Murphy|  Sales Associate|
|         14|       2|         Susan Brown|    Store Manager|
|         15|       2|         Sean Miller|Assistant Manager|
|         16|       2|Christopher Domin...|          Cashier|
|         17|       2|          Lisa Mason|      Stock Clerk|
|         18|       2|         David Pitts|  Sales Associate|
|         19|       2|       Lance Schultz|  Sales Associate|
|         20|       2|       Caroline Hall|  Sales Associate|
+-----------+--------+--------------------+-----------------+
only showing top 20 rows

In [ ]:
emp_df. printSchema()

root
 |-- Employee ID: integer (nullable = true)
 |-- Store ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Position: string (nullable = true)

In [ ]:
dis_df=spark.read.csv("/content/discounts.csv",header=True,inferSchema=True)

dis_df.show()

dis_df.printSchema()

+----------+----------+-------+--------------------+---------+--------------------+
|     Start|       End|Discont|         Description| Category|        Sub Category|
+----------+----------+-------+--------------------+---------+--------------------+
|2020-01-01|2020-01-10|    0.4|40% discount duri...| Feminine|   Coats and Blazers|
|2020-01-01|2020-01-10|    0.4|40% discount duri...| Feminine|Sweaters and Knit...|
|2020-01-01|2020-01-10|    0.4|40% discount duri...|Masculine|   Coats and Blazers|
|2020-01-01|2020-01-10|    0.4|40% discount duri...|Masculine|Sweaters and Swea...|
|2020-01-01|2020-01-10|    0.4|40% discount duri...| Children|               Coats|
|2020-01-01|2020-01-10|    0.4|40% discount duri...| Children|            Sweaters|
|2020-03-15|2020-03-31|   0.35|35% discount duri...| Feminine|Dresses and Jumps...|
|2020-03-15|2020-03-31|   0.35|35% discount duri...| Feminine|  Shirts and Blouses|
|2020-03-15|2020-03-31|   0.35|35% discount duri...|Masculine|  T-shirts and Polos|
|2020-03-15|2020-03-31|   0.35|35% discount duri...|Masculine|              Shirts|
|2020-03-15|2020-03-31|   0.35|35% discount duri...| Children|Girl and Boy (1-5...|
|2020-05-01|2020-05-15|   0.25|25% discount duri...| Feminine|   T-shirts and Tops|
|2020-05-01|2020-05-15|   0.25|25% discount duri...| Feminine|   Skirts and Shorts|
|2020-05-01|2020-05-15|   0.25|25% discount duri...| Feminine|Dresses and Jumps...|
|2020-05-01|2020-05-15|   0.25|25% discount duri...|Masculine|  T-shirts and Polos|
|2020-05-01|2020-05-15|   0.25|25% discount duri...|Masculine|     Pants and Jeans|
|2020-05-01|2020-05-15|   0.25|25% discount duri...| Children|Girl and Boy (1-5...|
|2020-05-01|2020-05-15|   0.25|25% discount duri...| Children|             Pajamas|
|2020-05-01|2020-05-15|   0.25|25% discount duri...| Children|         Accessories|
|2020-09-01|2020-09-15|   0.45|45% discount duri...| Feminine|Dresses and Jumps...|
+----------+----------+-------+--------------------+---------+--------------------+
only showing top 20 rows

root
 |-- Start: date (nullable = true)
 |-- End: date (nullable = true)
 |-- Discont: double (nullable = true)
 |-- Description: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub Category: string (nullable = true)

In [ ]:
#gettting no of partition of emp
emp_df.rdd.getNumPartitions()

1

In [ ]:
dis_df.rdd.getNumPartitions()

1

In [ ]:
#repartition of data using repartitions and coalesc
emp_df_repartitioned=emp_df.repartition(100)

#get the number of partitions

emp_df_repartitioned.rdd.getNumPartitions()

100

In [ ]:
emp_df_repartitioned=emp_df.coalesce(1)

In [ ]:
#finding the partitions and repartition
from pyspark .sql.functions import spark_partition_id

In [ ]:
emp_df_i=emp_df.withColumn("partiton_num",spark_partition_id())

In [ ]:
emp_df_i.show()

+-----------+--------+--------------------+-----------------+------------+
|Employee ID|Store ID|                Name|         Position|partiton_num|
+-----------+--------+--------------------+-----------------+------------+
|          1|       1|     Stephen Johnson|    Store Manager|           0|
|          2|       1|       Rebecca Myers|Assistant Manager|           0|
|          3|       1|  Katherine Buchanan|          Cashier|           0|
|          4|       1|       Jessica Hicks|      Stock Clerk|           0|
|          5|       1|          Ryan Gross|  Sales Associate|           0|
|          6|       1|     Jeffery Carlson|  Sales Associate|           0|
|          7|       1|      Melissa Wilson|  Sales Associate|           0|
|          8|       1|        Edward Hicks|  Sales Associate|           0|
|          9|       1|        Shari Jordan|  Sales Associate|           0|
|         10|       1|Mrs. Melissa Cald...|  Sales Associate|           0|
|         11|       1|       Regina Nelson|  Sales Associate|           0|
|         12|       1|        Kevin Dawson|  Sales Associate|           0|
|         13|       1|       Nicole Murphy|  Sales Associate|           0|
|         14|       2|         Susan Brown|    Store Manager|           0|
|         15|       2|         Sean Miller|Assistant Manager|           0|
|         16|       2|Christopher Domin...|          Cashier|           0|
|         17|       2|          Lisa Mason|      Stock Clerk|           0|
|         18|       2|         David Pitts|  Sales Associate|           0|
|         19|       2|       Lance Schultz|  Sales Associate|           0|
|         20|       2|       Caroline Hall|  Sales Associate|           0|
+-----------+--------+--------------------+-----------------+------------+
only showing top 20 rows