In [ ]:
from pyspark.sql import SparkSession


#creating a sparkSession
spark=SparkSession.builder.appName("DataFrame Sql").getOrCreate()

In [ ]:
#load the data into Dataframe
df=spark.read.csv("/content/customers.csv",header=True,inferSchema=True)

In [ ]:
#display Schema or Dataframee
df.printSchema()

root
 |-- Customer ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Telephone: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Date Of Birth: date (nullable = true)
 |-- Job Title: string (nullable = true)

In [ ]:
#show the initial  dataframe
print("initialDataframe:")
df.show()

initialDataframe:
+-----------+--------------------+--------------------+--------------------+--------+-------------+------+-------------+--------------------+
|Customer ID|                Name|               Email|           Telephone|    City|      Country|Gender|Date Of Birth|           Job Title|
+-----------+--------------------+--------------------+--------------------+--------+-------------+------+-------------+--------------------+
|          1|        Tyler Garcia|tyler.garcia@fake...|  922.970.2265x47563|New York|United States|     M|   2003-07-15|                NULL|
|          2|       Joshua Miller|joshua.miller@fak...|     +1-958-729-6169|New York|United States|     M|   2000-06-16|     Records manager|
|          3| Alison Marshall DDS|alison.marshall.d...|+1-645-567-0876x5409|New York|United States|     F|   2003-07-22|                NULL|
|          4|      Jeffery Acosta|jeffery.acosta@fa...|  212.336.0912x84994|New York|United States|     M|   1996-11-12|         Proofreader|
|          5|      Ashley Sanders|ashley.sanders@fa...|          7814535781|New York|United States|     F|   1998-02-10|Exercise physiolo...|
|          6|       Steven Chavez|steven.chavez@fak...|        469.238.0828|New York|United States|     M|   1988-01-06|    Technical brewer|
|          7|       Steven Snyder|steven.snyder@fak...|     +1-294-543-6438|New York|United States|     M|   2000-10-27|Agricultural engi...|
|          8|         Paul Walker|paul.walker@fake_...|   205.335.5074x1759|New York|United States|     M|   2007-03-03|                NULL|
|          9|        Edwin Bryant|edwin.bryant@fake...|+1-436-359-4105x4...|New York|United States|     M|   1999-07-19|Biochemist, clinical|
|         10|       Michelle Bird|michelle.bird@fak...|+1-325-528-1530x0...|New York|United States|     F|   2003-03-03|                NULL|
|         11|Natalie Espinoza DDS|natalie.espinoza....|    325-379-6960x933|New York|United States|     F|   1970-09-08|Public relations ...|
|         12|        Autumn Green|autumn.green@fake...|  (841)850-4720x0041|New York|United States|     F|   2001-06-24|                NULL|
|         13|  Jennifer Henderson|jennifer.henderso...|   (859)776-6705x615|New York|United States|     F|   1999-06-03|Engineer, control...|
|         14|    Jennifer Pearson|jennifer.pearson@...|        354.559.8541|New York|United States|     F|   2006-06-23|                NULL|
|         15|         Corey Lopez|corey.lopez@fake_...|          7359516571|New York|United States|     M|   2000-06-27|     Records manager|
|         16|      Patrick Parker|patrick.parker@fa...|    420.510.1425x994|New York|United States|     M|   1999-12-10|        Psychiatrist|
|         17|          Jason Wong|jason.wong@fake_y...|    925.672.7219x347|New York|United States|     M|   1977-09-17|     Legal secretary|
|         18|      Jasmine Miller|jasmine.miller@fa...|          9492316332|New York|United States|     F|   2005-06-05|                NULL|
|         19|      Regina Edwards|regina.edwards@fa...|   927-209-4313x3292|New York|United States|     F|   1995-01-23|      Pilot, airline|
|         20|            Ann Hall|ann.hall@fake_hot...|        375.997.2367|New York|United States|     F|   2005-07-08|                NULL|
+-----------+--------------------+--------------------+--------------------+--------+-------------+------+-------------+--------------------+
only showing top 20 rows

# Register the DataFrame as a Temporary **Table**

In [ ]:
#register the DataFrame As a TEmporary Table
df.createOrReplaceTempView("my_table")

# Perfrom sql-like Queries

In [ ]:
#select all rows where Date of Birth is equal to 2006
result=spark.sql("Select*from my_table where YEAR(' 1970-09-08')=1970")
result.show()

+-----------+--------------------+--------------------+--------------------+--------+-------------+------+-------------+--------------------+
|Customer ID|                Name|               Email|           Telephone|    City|      Country|Gender|Date Of Birth|           Job Title|
+-----------+--------------------+--------------------+--------------------+--------+-------------+------+-------------+--------------------+
|          1|        Tyler Garcia|tyler.garcia@fake...|  922.970.2265x47563|New York|United States|     M|   2003-07-15|                NULL|
|          2|       Joshua Miller|joshua.miller@fak...|     +1-958-729-6169|New York|United States|     M|   2000-06-16|     Records manager|
|          3| Alison Marshall DDS|alison.marshall.d...|+1-645-567-0876x5409|New York|United States|     F|   2003-07-22|                NULL|
|          4|      Jeffery Acosta|jeffery.acosta@fa...|  212.336.0912x84994|New York|United States|     M|   1996-11-12|         Proofreader|
|          5|      Ashley Sanders|ashley.sanders@fa...|          7814535781|New York|United States|     F|   1998-02-10|Exercise physiolo...|
|          6|       Steven Chavez|steven.chavez@fak...|        469.238.0828|New York|United States|     M|   1988-01-06|    Technical brewer|
|          7|       Steven Snyder|steven.snyder@fak...|     +1-294-543-6438|New York|United States|     M|   2000-10-27|Agricultural engi...|
|          8|         Paul Walker|paul.walker@fake_...|   205.335.5074x1759|New York|United States|     M|   2007-03-03|                NULL|
|          9|        Edwin Bryant|edwin.bryant@fake...|+1-436-359-4105x4...|New York|United States|     M|   1999-07-19|Biochemist, clinical|
|         10|       Michelle Bird|michelle.bird@fak...|+1-325-528-1530x0...|New York|United States|     F|   2003-03-03|                NULL|
|         11|Natalie Espinoza DDS|natalie.espinoza....|    325-379-6960x933|New York|United States|     F|   1970-09-08|Public relations ...|
|         12|        Autumn Green|autumn.green@fake...|  (841)850-4720x0041|New York|United States|     F|   2001-06-24|                NULL|
|         13|  Jennifer Henderson|jennifer.henderso...|   (859)776-6705x615|New York|United States|     F|   1999-06-03|Engineer, control...|
|         14|    Jennifer Pearson|jennifer.pearson@...|        354.559.8541|New York|United States|     F|   2006-06-23|                NULL|
|         15|         Corey Lopez|corey.lopez@fake_...|          7359516571|New York|United States|     M|   2000-06-27|     Records manager|
|         16|      Patrick Parker|patrick.parker@fa...|    420.510.1425x994|New York|United States|     M|   1999-12-10|        Psychiatrist|
|         17|          Jason Wong|jason.wong@fake_y...|    925.672.7219x347|New York|United States|     M|   1977-09-17|     Legal secretary|
|         18|      Jasmine Miller|jasmine.miller@fa...|          9492316332|New York|United States|     F|   2005-06-05|                NULL|
|         19|      Regina Edwards|regina.edwards@fa...|   927-209-4313x3292|New York|United States|     F|   1995-01-23|      Pilot, airline|
|         20|            Ann Hall|ann.hall@fake_hot...|        375.997.2367|New York|United States|     F|   2005-07-08|                NULL|
+-----------+--------------------+--------------------+--------------------+--------+-------------+------+-------------+--------------------+
only showing top 20 rows

In [ ]:
avg_by_gender = spark.sql("SELECT gender, AVG(gender) as avg_Gender FROM my_table GROUP BY gender")
avg_by_gender.show()

+------+----------+
|gender|avg_Gender|
+------+----------+
|     F|      NULL|
|     M|      NULL|
|     D|      NULL|
+------+----------+

# CREATING AND MANAGING TEMPORARY VIEWS

In [ ]:
#creating a temporary view
df.createOrReplaceTempView("people")

In [ ]:
#query the temporary view
result=spark.sql("SELECT *FROM People WHERE Gender='F'")
result.show()

+-----------+--------------------+--------------------+--------------------+--------+-------------+------+-------------+--------------------+
|Customer ID|                Name|               Email|           Telephone|    City|      Country|Gender|Date Of Birth|           Job Title|
+-----------+--------------------+--------------------+--------------------+--------+-------------+------+-------------+--------------------+
|          3| Alison Marshall DDS|alison.marshall.d...|+1-645-567-0876x5409|New York|United States|     F|   2003-07-22|                NULL|
|          5|      Ashley Sanders|ashley.sanders@fa...|          7814535781|New York|United States|     F|   1998-02-10|Exercise physiolo...|
|         10|       Michelle Bird|michelle.bird@fak...|+1-325-528-1530x0...|New York|United States|     F|   2003-03-03|                NULL|
|         11|Natalie Espinoza DDS|natalie.espinoza....|    325-379-6960x933|New York|United States|     F|   1970-09-08|Public relations ...|
|         12|        Autumn Green|autumn.green@fake...|  (841)850-4720x0041|New York|United States|     F|   2001-06-24|                NULL|
|         13|  Jennifer Henderson|jennifer.henderso...|   (859)776-6705x615|New York|United States|     F|   1999-06-03|Engineer, control...|
|         14|    Jennifer Pearson|jennifer.pearson@...|        354.559.8541|New York|United States|     F|   2006-06-23|                NULL|
|         18|      Jasmine Miller|jasmine.miller@fa...|          9492316332|New York|United States|     F|   2005-06-05|                NULL|
|         19|      Regina Edwards|regina.edwards@fa...|   927-209-4313x3292|New York|United States|     F|   1995-01-23|      Pilot, airline|
|         20|            Ann Hall|ann.hall@fake_hot...|        375.997.2367|New York|United States|     F|   2005-07-08|                NULL|
|         23|        Stacey Cohen|stacey.cohen@fake...|  775-224-3651x07873|New York|United States|     F|   1989-12-09|Database administ...|
|         24|        Sara Bennett|sara.bennett@fake...| (815)795-1809x90572|New York|United States|     F|   1999-04-08|Surveyor, rural p...|
|         27|  Margaret Alexander|margaret.alexande...|        606-285-3439|New York|United States|     F|   2003-06-14|                NULL|
|         28|      Jasmine Ramsey|jasmine.ramsey@fa...|+1-260-221-9212x0...|New York|United States|     F|   2002-09-25|                NULL|
|         37|       Sarah Spencer|sarah.spencer@fak...|        475-308-2802|New York|United States|     F|   2004-03-28|                NULL|
|         38|       Marisa Waller|marisa.waller@fak...|    443-643-3843x197|New York|United States|     F|   2003-03-27|                NULL|
|         41|  Katherine Robinson|katherine.robinso...|    761.570.0555x542|New York|United States|     F|   1994-09-24| Marketing executive|
|         42|       Leslie Martin|leslie.martin@fak...|   825.826.5671x7104|New York|United States|     F|   2004-10-21|                NULL|
|         43|     April Alexander|april.alexander@f...|          9793160805|New York|United States|     F|   1961-09-18|Multimedia progra...|
|         50|        Megan Campos|megan.campos@fake...|        630-353-8552|New York|United States|     F|   2000-09-22|  Investment analyst|
+-----------+--------------------+--------------------+--------------------+--------+-------------+------+-------------+--------------------+
only showing top 20 rows