In [11]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import udf,col

from pyspark.sql.types import StringType,BooleanType,IntegerType

spark = SparkSession.builder.appName("Spark udf example").getOrCreate()


df=spark.createDataFrame(data, Schema)

In [7]:
data=[(1,"nadiya",65000,500,),(12,"Ayesha",56000,600),(6,"Bujji",165000,1500),(9,"Vanisha",565000,2500),(10,"nadi",16500,580)]

In [6]:
Schema=['id','name','salary','bonus']

df.show()

+---+-------+------+-----+
| id|   name|salary|bonus|
+---+-------+------+-----+
|  1| nadiya| 65000|  500|
| 12| Ayesha| 56000|  600|
|  6|  Bujji|165000| 1500|
|  9|Vanisha|565000| 2500|
| 10|   nadi| 16500|  580|
+---+-------+------+-----+

In [18]:
from pyspark.sql.functions import udf

from pyspark.sql.types import IntegerType

# Define your function
def totalpay(salary, bonus):
    return salary + bonus if salary is not None and bonus is not None else 0


# Create the UDF
Totalpay = udf(lambda a, b: totalpay(a, b), IntegerType())

# Apply UDF to create the new column
df = df.withColumn("Totalpay", Totalpay(df["Salary"], df["bonus"]))
df.show()

+---+-------+------+-----+--------+
| id|   name|salary|bonus|Totalpay|
+---+-------+------+-----+--------+
|  1| nadiya| 65000|  500|   65500|
| 12| Ayesha| 56000|  600|   56600|
|  6|  Bujji|165000| 1500|  166500|
|  9|Vanisha|565000| 2500|  567500|
| 10|   nadi| 16500|  580|   17080|
+---+-------+------+-----+--------+

In [20]:

from pyspark.sql import SparkSession

from pyspark.sql.functions import col, expr

from pyspark.sql.types import StringType, BooleanType


spark = SparkSession.builder.appName("Spark4Features").getOrCreate()

df1 = spark.range(5)
df1.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [21]:

df2 = spark.createDataFrame([("10",), ("abc",)], ["value"])
df2.selectExpr("CAST(value AS INT)").show()

+-----+
|value|
+-----+
|   10|
| NULL|
+-----+

In [22]:

df3 = spark.readStream.format("rate").option("rowsPerSecond", 1).load()
df3.selectExpr("timestamp", "value", "value % 2 as is_even").writeStream.format("console").start()

In [23]:

df4 = spark.createDataFrame([("Zimmy",), ("Snoopi",), ("puffy",)], ["name"])
df4.orderBy(col("name").asc()).show()

+------+
|  name|
+------+
|Snoopi|
| Zimmy|
| puffy|
+------+

In [24]:

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr

spark = SparkSession.builder.appName("Spark4Features").getOrCreate()

df5 = spark.createDataFrame([({"key": "value"},), ({"number": 10},)], ["data"])
df5.withColumn("data_as_string", expr("CAST(data AS STRING)")).show()

+--------------+--------------+
|          data|data_as_string|
+--------------+--------------+
|{key -> value}|{key -> value}|
|{number -> 10}|{number -> 10}|
+--------------+--------------+