In [7]:
from pyspark.sql import SparkSession

In [8]:
spark=SparkSession.builder.appName("Basic").getOrCreate()

In [13]:
str_df=spark.read.csv("/content/stores.csv",header=True,inferSchema=True)

In [14]:
#Display Schema
str_df.printSchema()

root
 |-- Store ID: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Store Name: string (nullable = true)
 |-- Number of Employees: integer (nullable = true)
 |-- ZIP Code: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)

In [15]:
str_df.show()

+--------+--------------+-----------------+--------------------+-------------------+--------+--------+---------+
|Store ID|       Country|             City|          Store Name|Number of Employees|ZIP Code|Latitude|Longitude|
+--------+--------------+-----------------+--------------------+-------------------+--------+--------+---------+
|       1| United States|         New York|      Store New York|                 10|   10001| 40.7128|  -74.006|
|       2| United States|      Los Angeles|   Store Los Angeles|                  8|   90001| 34.0522|-118.2437|
|       3| United States|          Chicago|       Store Chicago|                  9|   60601| 41.8781| -87.6298|
|       4| United States|          Houston|       Store Houston|                 10|   77001| 29.7604| -95.3698|
|       5| United States|          Phoenix|       Store Phoenix|                  9|   85001| 33.4484| -112.074|
|       6|          中国|             上海|          Store 上海|                  8|  200000| 31.2304| 121.4737|
|       7|          中国|             北京|          Store 北京|                 10|  100000| 39.9042| 116.4074|
|       8|          中国|             广州|          Store 广州|                 10|  510000| 23.1291| 113.2644|
|       9|          中国|             深圳|          Store 深圳|                  9|  518000| 22.5429| 114.0596|
|      10|          中国|             重庆|          Store 重庆|                 10|  400000| 29.5638| 106.5505|
|      11|   Deutschland|           Berlin|        Store Berlin|                  9|   10115| 52.5125|  13.3903|
|      12|   Deutschland|          Hamburg|       Store Hamburg|                 10|   20095| 53.5503|    9.992|
|      13|   Deutschland|          München|       Store München|                  9|   80331| 48.1371|  11.5763|
|      14|   Deutschland|             Köln|          Store Köln|                  8|   50667|  50.938|   6.9578|
|      15|   Deutschland|Frankfurt am Main|Store Frankfurt a...|                 10|   60311| 50.1145|   8.6785|
|      16|United Kingdom|           London|        Store London|                  7| EC2P 2E| 51.5072|  -0.1275|
|      17|United Kingdom|       Birmingham|    Store Birmingham|                  9|  B1 1AA| 52.4862|  -1.8904|
|      18|United Kingdom|          Glasgow|       Store Glasgow|                  7|  G1 1AA|  55.858|   -4.259|
|      19|United Kingdom|        Liverpool|     Store Liverpool|                  9|  L1 1AA| 53.4084|  -2.9916|
|      20|United Kingdom|          Bristol|       Store Bristol|                  7| BS1 1AA| 51.4545|  -2.5879|
+--------+--------------+-----------------+--------------------+-------------------+--------+--------+---------+
only showing top 20 rows

DATA AGGREGRATIONS
# GROUPBY:Group data based on specific columns **bold text**
Aggregations:Perform functions like sum,average ,etc.., on grouped data

In [18]:
#GroupBy and Aggregations
grouped_data = str_df. groupBy("city").agg({"Store ID":"sum","Country":"count"})
print("Grouped Data:")
grouped_data.show()

Grouped Data:
+-----------+-------------+--------------+
|       city|sum(Store ID)|count(Country)|
+-----------+-------------+--------------+
|    Phoenix|            5|             1|
|     Madrid|           26|             1|
|       Nice|           25|             1|
|      Braga|           33|             1|
|Los Angeles|            2|             1|
|    Glasgow|           18|             1|
|  Marseille|           22|             1|
|     Berlin|           11|             1|
|     London|           16|             1|
| Birmingham|           17|             1|
|   Zaragoza|           30|             1|
|      Paris|           21|             1|
|    Chicago|            3|             1|
|    Hamburg|           12|             1|
|       Lyon|           23|             1|
|      Porto|           32|             1|
|  Barcelona|           27|             1|
|  Guimarães|           34|             1|
|    München|           13|             1|
|    Bristol|           20|             1|
+-----------+-------------+--------------+
only showing top 20 rows

# Join:Combine multiple DataFrames based on specified ***columns***

In [16]:
#join with another DataFrame
str_df2 = str_df.select("city","Country","Store ID").limit(10)
Joined__df=str_df.join(str_df2,"city","inner")
print("Joined DataFrame:")
Joined__df.show()

Joined DataFrame:
+-----------+--------+-------------+-----------------+-------------------+--------+--------+---------+-------------+--------+
|       City|Store ID|      Country|       Store Name|Number of Employees|ZIP Code|Latitude|Longitude|      Country|Store ID|
+-----------+--------+-------------+-----------------+-------------------+--------+--------+---------+-------------+--------+
|   New York|       1|United States|   Store New York|                 10|   10001| 40.7128|  -74.006|United States|       1|
|Los Angeles|       2|United States|Store Los Angeles|                  8|   90001| 34.0522|-118.2437|United States|       2|
|    Chicago|       3|United States|    Store Chicago|                  9|   60601| 41.8781| -87.6298|United States|       3|
|    Houston|       4|United States|    Store Houston|                 10|   77001| 29.7604| -95.3698|United States|       4|
|    Phoenix|       5|United States|    Store Phoenix|                  9|   85001| 33.4484| -112.074|United States|       5|
|       上海|       6|         中国|       Store 上海|                  8|  200000| 31.2304| 121.4737|         中国|       6|
|       北京|       7|         中国|       Store 北京|                 10|  100000| 39.9042| 116.4074|         中国|       7|
|       广州|       8|         中国|       Store 广州|                 10|  510000| 23.1291| 113.2644|         中国|       8|
|       深圳|       9|         中国|       Store 深圳|                  9|  518000| 22.5429| 114.0596|         中国|       9|
|       重庆|      10|         中国|       Store 重庆|                 10|  400000| 29.5638| 106.5505|         中国|      10|
+-----------+--------+-------------+-----------------+-------------------+--------+--------+---------+-------------+--------+

# Sort:Arrange Rows Based ON one or More Columns

In [17]:
#sort by A column
sorted_data=str_df.orderBy("Zip Code")
print("stored Data:")
sorted_data.show(15)

stored Data:
+--------+-------------+---------+---------------+-------------------+--------+--------+---------+
|Store ID|      Country|     City|     Store Name|Number of Employees|ZIP Code|Latitude|Longitude|
+--------+-------------+---------+---------------+-------------------+--------+--------+---------+
|      25|       France|     Nice|     Store Nice|                  9|   06000|    43.7|   7.2684|
|      27|       España|Barcelona|Store Barcelona|                  9|   08001|  41.387|   2.1682|
|      31|     Portugal|   Lisboa|   Store Lisboa|                 10|1000-001| 38.7167|  -9.1333|
|       7|         中国|     北京|     Store 北京|                 10|  100000| 39.9042| 116.4074|
|       1|United States| New York| Store New York|                 10|   10001| 40.7128|  -74.006|
|      11|  Deutschland|   Berlin|   Store Berlin|                  9|   10115| 52.5125|  13.3903|
|      22|       France|Marseille|Store Marseille|                  7|   13000| 43.2965|   5.3698|
|       6|         中国|     上海|     Store 上海|                  8|  200000| 31.2304| 121.4737|
|      12|  Deutschland|  Hamburg|  Store Hamburg|                 10|   20095| 53.5503|    9.992|
|      26|       España|   Madrid|   Store Madrid|                  7|   28001|  40.438|  -3.6905|
|      35|     Portugal|  Coimbra|  Store Coimbra|                  7|3000-001| 40.2056|  -8.4196|
|      24|       France| Toulouse| Store Toulouse|                  8|   31000| 43.6047|   1.4442|
|      32|     Portugal|    Porto|    Store Porto|                  7|4000-001| 41.1496|   -8.611|
|      10|         中国|     重庆|     Store 重庆|                 10|  400000| 29.5638| 106.5505|
|      29|       España|  Sevilla|  Store Sevilla|                  8|   41001| 37.3906|  -5.9879|
+--------+-------------+---------+---------------+-------------------+--------+--------+---------+
only showing top 15 rows

In [18]:
#sort by a column desc
from pyspark.sql.functions import  col
sorted_data=str_df.orderBy(col("Zip Code").desc(),col("Store ID").desc())
print("Stored Data Descending:")
sorted_data.show(15)

Stored Data Descending:
+--------+--------------+-----------------+--------------------+-------------------+--------+--------+---------+
|Store ID|       Country|             City|          Store Name|Number of Employees|ZIP Code|Latitude|Longitude|
+--------+--------------+-----------------+--------------------+-------------------+--------+--------+---------+
|      19|United Kingdom|        Liverpool|     Store Liverpool|                  9|  L1 1AA| 53.4084|  -2.9916|
|      18|United Kingdom|          Glasgow|       Store Glasgow|                  7|  G1 1AA|  55.858|   -4.259|
|      16|United Kingdom|           London|        Store London|                  7| EC2P 2E| 51.5072|  -0.1275|
|      20|United Kingdom|          Bristol|       Store Bristol|                  7| BS1 1AA| 51.4545|  -2.5879|
|      17|United Kingdom|       Birmingham|    Store Birmingham|                  9|  B1 1AA| 52.4862|  -1.8904|
|       2| United States|      Los Angeles|   Store Los Angeles|                  8|   90001| 34.0522|-118.2437|
|       5| United States|          Phoenix|       Store Phoenix|                  9|   85001| 33.4484| -112.074|
|      13|   Deutschland|          München|       Store München|                  9|   80331| 48.1371|  11.5763|
|       4| United States|          Houston|       Store Houston|                 10|   77001| 29.7604| -95.3698|
|      21|        France|            Paris|         Store Paris|                  7|   75000| 48.8656|    2.343|
|      23|        France|             Lyon|          Store Lyon|                  8|   69000|  45.764|   4.8357|
|       3| United States|          Chicago|       Store Chicago|                  9|   60601| 41.8781| -87.6298|
|      15|   Deutschland|Frankfurt am Main|Store Frankfurt a...|                 10|   60311| 50.1145|   8.6785|
|       9|          中国|             深圳|          Store 深圳|                  9|  518000| 22.5429| 114.0596|
|       8|          中国|             广州|          Store 广州|                 10|  510000| 23.1291| 113.2644|
+--------+--------------+-----------------+--------------------+-------------------+--------+--------+---------+
only showing top 15 rows

# DISTINCT:GET UNIQUE ROWS

In [19]:
#get distinct product city
distinct_city=str_df.select("city").distinct()
print("Distinct City:")
distinct_city.show()

Distinct City:
+-----------+
|       city|
+-----------+
|    Phoenix|
|     Madrid|
|       Nice|
|      Braga|
|Los Angeles|
|    Glasgow|
|  Marseille|
|     Berlin|
|     London|
| Birmingham|
|   Zaragoza|
|      Paris|
|    Chicago|
|    Hamburg|
|       Lyon|
|      Porto|
|  Barcelona|
|  Guimarães|
|    München|
|    Bristol|
+-----------+
only showing top 20 rows

# DROP:Remove specified columns,

In [21]:
#Drop columns
dropped_df=str_df.drop("Store ID","Zip Code")
print("Dropped DataFrame:")
dropped_df.show()

Dropped DataFrame:
+--------------+-----------------+--------------------+-------------------+--------+---------+
|       Country|             City|          Store Name|Number of Employees|Latitude|Longitude|
+--------------+-----------------+--------------------+-------------------+--------+---------+
| United States|         New York|      Store New York|                 10| 40.7128|  -74.006|
| United States|      Los Angeles|   Store Los Angeles|                  8| 34.0522|-118.2437|
| United States|          Chicago|       Store Chicago|                  9| 41.8781| -87.6298|
| United States|          Houston|       Store Houston|                 10| 29.7604| -95.3698|
| United States|          Phoenix|       Store Phoenix|                  9| 33.4484| -112.074|
|          中国|             上海|          Store 上海|                  8| 31.2304| 121.4737|
|          中国|             北京|          Store 北京|                 10| 39.9042| 116.4074|
|          中国|             广州|          Store 广州|                 10| 23.1291| 113.2644|
|          中国|             深圳|          Store 深圳|                  9| 22.5429| 114.0596|
|          中国|             重庆|          Store 重庆|                 10| 29.5638| 106.5505|
|   Deutschland|           Berlin|        Store Berlin|                  9| 52.5125|  13.3903|
|   Deutschland|          Hamburg|       Store Hamburg|                 10| 53.5503|    9.992|
|   Deutschland|          München|       Store München|                  9| 48.1371|  11.5763|
|   Deutschland|             Köln|          Store Köln|                  8|  50.938|   6.9578|
|   Deutschland|Frankfurt am Main|Store Frankfurt a...|                 10| 50.1145|   8.6785|
|United Kingdom|           London|        Store London|                  7| 51.5072|  -0.1275|
|United Kingdom|       Birmingham|    Store Birmingham|                  9| 52.4862|  -1.8904|
|United Kingdom|          Glasgow|       Store Glasgow|                  7|  55.858|   -4.259|
|United Kingdom|        Liverpool|     Store Liverpool|                  9| 53.4084|  -2.9916|
|United Kingdom|          Bristol|       Store Bristol|                  7| 51.4545|  -2.5879|
+--------------+-----------------+--------------------+-------------------+--------+---------+
only showing top 20 rows

**WithColumn:add new calculated** **columns**

In [23]:
#Add a new calculated column
df_with_newcolumn=str_df.withColumn("Employees",str_df.City==str_df.Country)
print("Dataframe with new column:")
df_with_newcolumn.show()

Dataframe with new column:
+--------+--------------+-----------------+--------------------+-------------------+--------+--------+---------+---------+
|Store ID|       Country|             City|          Store Name|Number of Employees|ZIP Code|Latitude|Longitude|Employees|
+--------+--------------+-----------------+--------------------+-------------------+--------+--------+---------+---------+
|       1| United States|         New York|      Store New York|                 10|   10001| 40.7128|  -74.006|    false|
|       2| United States|      Los Angeles|   Store Los Angeles|                  8|   90001| 34.0522|-118.2437|    false|
|       3| United States|          Chicago|       Store Chicago|                  9|   60601| 41.8781| -87.6298|    false|
|       4| United States|          Houston|       Store Houston|                 10|   77001| 29.7604| -95.3698|    false|
|       5| United States|          Phoenix|       Store Phoenix|                  9|   85001| 33.4484| -112.074|    false|
|       6|          中国|             上海|          Store 上海|                  8|  200000| 31.2304| 121.4737|    false|
|       7|          中国|             北京|          Store 北京|                 10|  100000| 39.9042| 116.4074|    false|
|       8|          中国|             广州|          Store 广州|                 10|  510000| 23.1291| 113.2644|    false|
|       9|          中国|             深圳|          Store 深圳|                  9|  518000| 22.5429| 114.0596|    false|
|      10|          中国|             重庆|          Store 重庆|                 10|  400000| 29.5638| 106.5505|    false|
|      11|   Deutschland|           Berlin|        Store Berlin|                  9|   10115| 52.5125|  13.3903|    false|
|      12|   Deutschland|          Hamburg|       Store Hamburg|                 10|   20095| 53.5503|    9.992|    false|
|      13|   Deutschland|          München|       Store München|                  9|   80331| 48.1371|  11.5763|    false|
|      14|   Deutschland|             Köln|          Store Köln|                  8|   50667|  50.938|   6.9578|    false|
|      15|   Deutschland|Frankfurt am Main|Store Frankfurt a...|                 10|   60311| 50.1145|   8.6785|    false|
|      16|United Kingdom|           London|        Store London|                  7| EC2P 2E| 51.5072|  -0.1275|    false|
|      17|United Kingdom|       Birmingham|    Store Birmingham|                  9|  B1 1AA| 52.4862|  -1.8904|    false|
|      18|United Kingdom|          Glasgow|       Store Glasgow|                  7|  G1 1AA|  55.858|   -4.259|    false|
|      19|United Kingdom|        Liverpool|     Store Liverpool|                  9|  L1 1AA| 53.4084|  -2.9916|    false|
|      20|United Kingdom|          Bristol|       Store Bristol|                  7| BS1 1AA| 51.4545|  -2.5879|    false|
+--------+--------------+-----------------+--------------------+-------------------+--------+--------+---------+---------+
only showing top 20 rows

**ALIAS:Rename columns for better readablity**

In [24]:
#Rename colunms using alias
df_with_alias=str_df.withColumnRenamed("Store ID","shopname")
print("Dataframe with Aliased column:")
df_with_alias.show()

Dataframe with Aliased column:
+--------+--------------+-----------------+--------------------+-------------------+--------+--------+---------+
|shopname|       Country|             City|          Store Name|Number of Employees|ZIP Code|Latitude|Longitude|
+--------+--------------+-----------------+--------------------+-------------------+--------+--------+---------+
|       1| United States|         New York|      Store New York|                 10|   10001| 40.7128|  -74.006|
|       2| United States|      Los Angeles|   Store Los Angeles|                  8|   90001| 34.0522|-118.2437|
|       3| United States|          Chicago|       Store Chicago|                  9|   60601| 41.8781| -87.6298|
|       4| United States|          Houston|       Store Houston|                 10|   77001| 29.7604| -95.3698|
|       5| United States|          Phoenix|       Store Phoenix|                  9|   85001| 33.4484| -112.074|
|       6|          中国|             上海|          Store 上海|                  8|  200000| 31.2304| 121.4737|
|       7|          中国|             北京|          Store 北京|                 10|  100000| 39.9042| 116.4074|
|       8|          中国|             广州|          Store 广州|                 10|  510000| 23.1291| 113.2644|
|       9|          中国|             深圳|          Store 深圳|                  9|  518000| 22.5429| 114.0596|
|      10|          中国|             重庆|          Store 重庆|                 10|  400000| 29.5638| 106.5505|
|      11|   Deutschland|           Berlin|        Store Berlin|                  9|   10115| 52.5125|  13.3903|
|      12|   Deutschland|          Hamburg|       Store Hamburg|                 10|   20095| 53.5503|    9.992|
|      13|   Deutschland|          München|       Store München|                  9|   80331| 48.1371|  11.5763|
|      14|   Deutschland|             Köln|          Store Köln|                  8|   50667|  50.938|   6.9578|
|      15|   Deutschland|Frankfurt am Main|Store Frankfurt a...|                 10|   60311| 50.1145|   8.6785|
|      16|United Kingdom|           London|        Store London|                  7| EC2P 2E| 51.5072|  -0.1275|
|      17|United Kingdom|       Birmingham|    Store Birmingham|                  9|  B1 1AA| 52.4862|  -1.8904|
|      18|United Kingdom|          Glasgow|       Store Glasgow|                  7|  G1 1AA|  55.858|   -4.259|
|      19|United Kingdom|        Liverpool|     Store Liverpool|                  9|  L1 1AA| 53.4084|  -2.9916|
|      20|United Kingdom|          Bristol|       Store Bristol|                  7| BS1 1AA| 51.4545|  -2.5879|
+--------+--------------+-----------------+--------------------+-------------------+--------+--------+---------+
only showing top 20 rows

In [25]:
#stop the sparkSession
spark.stop()